.title-block .title {
    display: inline-block;
    padding: 60px 60px;
    text-align: center;
    width: 50vw;
    font-size: 60px;
    font-weight: bold;
    margin-bottom: 10px;
    border: none;
  }

  .title {
    resize: vertical;
    min-height: 200px;
    max-height: 200px;
  }

  .title-block textarea:focus{
    outline: none;
  }